/* Barra de navegacion */

.navbar {
  padding: 2rem;
}

.navbar a img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(74deg) brightness(106%) contrast(102%);
}

.navbar ul li a {
  color: #fff !important;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.0rem;
  font-family: 'Abril Fatface', cursive;
}

.btn-dark {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px;
  color: #fff;
}

.seccion-oscura {
  color: #fff;
  background-color: #212529;
}

.seccion-clara {
  color: #000;
  background-color: #fff;
}

.seccion-titulo {
  font-size: 4rem;
  padding: 15px 0 25px 0;
  font-family: 'Abril Fatface', cursive;
}

.seccion-titulo-footer {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
}

.seccion-texto {
  font-size: 1.2rem;
  padding: 10px;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

/* Seccion Hero */

.hero {
  min-height: 500px;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 20px; 
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #fff;
}

.hero-inferior-imagen {
  margin-bottom: 40px;
}

/* Seccion sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Seccion Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: #fff;
  background-color: #2f2f2f;
}

.experiencia i {
  font-size: 2.5rem;
  color: #f5f6f7;
  background-color: #2f2f2f;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px 40px 120px 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay{
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: #000;
  font-size: 60px;
  margin: 10px;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #0D6EFD;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  columns: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.contacto button {
  color: #2F2F2F;
  background-color: #fff;
  border: 1px solid #2F2F2F;
  font-weight: 500;
  margin: 10px;
}

.contacto button:hover {
  color: #2F2F2F;
  background-color: #fff;
  border: 1px solid #2F2F2F;
}

.contacto i {
  font-weight: 500;
}

/* Footer */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #fff;
  border: 2px solid #0D6EFD;
}

.iconos-redes-sociales a:hover i {
  color: #000;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}


/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 100%;
  }
}